.header-pics {
	max-width: 300px;
}

nav {
	display: flex;
	justify-content: center;
	align-self: center;
}

// h3 {
// 	margin-left: 20px;
// }

ul {
	display: flex;
	justify-content: center;
	align-self: center;
	list-style: none;
}

li {
	margin: 0 20px;
}

.nav-links {
	color: black;
	text-decoration: none;
}

.nav-links:hover {
	color: green;
	text-decoration: underline;
}
